{% extends "layout/base.html" %}
{% block content %}

    <div class="card">
        <form class="card-body" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Recipe Name -->
            <div class="mb-3">
                <label for="recipe_name" class="form-label"></label>
                <input type="text" class="form-control" id="recipe_name" name="recipe_name" placeholder="Recipe Name" value="{{ recipe.recipe_name }}" required>
            </div>
            <!-- Select Recipe Category -->
            <div class="mb-3">
                <label for="recipe_category" class="form-label"></label>
                <select id="recipe_category" name="recipe_category" class="form-select" aria-label="Default select example" required>
                    <option value="" disabled>Select Category</option>
                    {% for category in categories %}
                        {% if category.recipe_category == recipe.recipe_category %}
                            <option value="{{ category.recipe_category }}" selected>{{ category.recipe_category }}</option>
                        {% else %}
                            <option value="{{ category.recipe_category }}">{{ category.recipe_category }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <!-- Short recipe description -->
            <div class="mb-3">
                <label for="recipe_description" class="form-label"></label>
                <input type="text" class="form-control" id="recipe_description" name="recipe_description"
                    placeholder="The most delicious dish ever!" value="{{ recipe.recipe_description }}" required>
            </div>
            <!-- Recipe img link -->
            <div class="mb-3">
                <label for="recipe_img" class="form-label"></label>
                <input type="text" class="form-control" id="recipe_img" name="recipe_img"
                    placeholder="Ie. https://i.imgur.com/YOURIMGCODE.jpeg" value="{{ recipe.recipe_img }}" required>
            </div>
            <!-- servings -->
            <div class="mb-3">
                <label for="servings" class="form-label"></label>
                <input type="text" class="form-control" id="servings" name="servings" placeholder="Number of servings" value="{{ recipe.servings }}" required>
            </div>
            <!-- Cooking time, in minutes -->
            <div class="mb-3">
                <label for="cook_time" class="form-label"></label>
                <input type="text" class="form-control" id="cook_time" name="cook_time"
                    placeholder="Cooking time, in minutes" value="{{ recipe.cook_time }}" required>
            </div>
            <!-- Recipe Ingredients -->
            <div class="mb-3">
                <label for="recipe_ingredients" class="form-label">Ingredients</label>
                <textarea class="form-control" id="recipe_ingredients" name="recipe_ingredients" rows="5" required>
                    {{- recipe.recipe_ingredients|join(';') -}}
                </textarea>
            </div>
            <!-- Recipe Method -->
            <div class="mb-3">
                <label for="recipe_method" class="form-label">Method</label>
                <textarea class="form-control" id="recipe_method" name="recipe_method" rows="5" required>{{ recipe.recipe_method }}</textarea>
            </div>
            <!-- Public or Private Recipe -->
            <div class="form-check form-switch">
                <label class="form-check-label" for="is_public">Public Recipe</label>
                {% if recipe.is_public == True %}
                <input class="form-check-input" type="checkbox" role="switch" id="is_public" name="is_public" checked>
                {% else %}
                <input class="form-check-input" type="checkbox" role="switch" id="is_public" name="is_public">
                {% endif %}
            </div>
            <!-- Created By -->
            <input type="hidden" id="recipe_creator" name="recipe_creator" value="{{ recipe.created_by }}">
            <!-- Cancel Edit -->
            <a class="btn btn-primary" href="{{ url_for('my_recipes') }}">Cancel</a>
            <!-- Submit Edit -->
            <button class="btn btn-primary" type="submit">Edit Recipe</button>
        </form>
    </div>
{% endblock %}