@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

html {
    /* font-size: 62.5%; */
    scroll-behavior: smooth;
    min-height: 100vh;
}

body {
    font-family: 'Nanum Gothic', 'Times New Roman', serif;
    font-weight: 400;
    background: linear-gradient(to right top, #ffffff, #efeff0, #dfe0e1, #d0d0d2, #c0c1c3, #abacae, #97989a, #838486, #666768, #4b4b4c, #313131, #191919);
    background-image: url('../images/main-background.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
}

.navbar-nav {
    text-align: right;
}

/* Components */

.flash-box {
    height: 5rem;
    padding-top: 1.5rem;
}

.flash-message {
    color: #FFFFFF;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.home-title {
    padding-bottom: 2rem;
}

.main-btn {
    background-color: #718161;
}

.main-btn:hover {
    background-color: #375412;
}

.card {
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.80);
}

.card-title {
    margin-bottom: 1.5rem;
}

.card-body {
    padding: 1.5rem;
}

.image {
    height: 25rem;
    width: 100%rem;
}

.line-bottom {
    border-bottom: 1px solid black;
    padding: 10px 0;
    margin: 2px 0;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: 20rem;
}

.recipe-image {
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    padding: 2rem;
}

.dashboard-card {
    height: 60vh;
    width: 60vw;
}