{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-10 offset-1 col-xl-8 offset-xl-2">
        <form class="card text-center" method="POST" action="{{ url_for('search') }}">
            <div class="card-body">
                <!-- Search inputfield -->
                <div class="input-group mb-3">
                    <input id="query" name="query" type="text" class="form-control" placeholder="Recipe you are looking for"
                        aria-label="Search">
                    <label for="query"></label>
                </div>
                <div class="mb-3">
                    <select id="query2" name="query2" class="form-select" aria-label="Default select example">
                        <option selected>Select category</option>
                        {% for category in categories %}
                            <option value="{{ category.recipe_category }}">{{ category.recipe_category }}</option>
                        {% endfor %}
                    </select>
                    <label for="recipe_category"></label>
                </div>
                <button type="submit" class="input-group btn btn-primary">Search recipes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}