{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        <p>Recipe Name: {{ recipe.recipe_name }} </p>
        <p>Recipe Category: {{ recipe.recipe_category }} </p>
        <p>Recipe description: {{ recipe.recipe_description }} </p>
        <img src="{{ recipe.recipe_img }}" alt="recipe image"/>
        <p>Time to cook:{{ recipe.cook_time }} minutes</p>
        <p>Number of servings: {{ recipe.servings }} </p>
        <p>Last updated on: {{ recipe.last_updated }} </p>
        <p>Created by: {{ recipe.created_by }} </p>
        <ul>
            {% for ingredient in recipe.recipe_ingredients %}
            <li>
              {{ ingredient }}
            </li>
            {% endfor %}
        </ul>
        <ul>
            {% for step in recipe.recipe_method %}
            <li>
              {{ step }}
            </li>
            {% endfor %}
        </ul>
    {% endfor %}    

{% endblock %}